@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --text: #ffffff;
    --background: #071630;
    --primary: #48448e;
    --secondary: #366bc1;
    --accent: #9d40e9;
  }


.font_div {
  font-family: "Fira Code", monospace;
  font-optical-sizing: "auto";
  font-style: "normal";
}

.navbar_custom {
    background-color: var(--background);
    border-color: var(--primary);
    font-size: 30px;
}

.navbar_custom .navbar-brand,
.navbar_custom .navbar-nav .nav-link,
.navbar_custom .nav-dropdown {
  color: var(--text) !important; 
}

.navbar_custom .navbar-nav .nav-link:hover,
.navbar_custom .navbar-nav .nav-link:focus {
  color: var(--accent) !important; 
}

.card_custom {
    background-color: var(--secondary) !important; 
    border-color: var(--secondary) !important;
    color: var(--text) !important;
  }
  
  .card_custom .card-title,
  .card_custom .card-text {
    color: var(--text) !important;
  }

.custom_background {
    background-color: var(--background);
    border-color: var(--background);
}

.info-container {
    background-color:var(--background);
    font-family: 'Fira Code', monospace;
    color: var(--text);
    padding-top: 0px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1000px; 
  }
  
  .info-container h2 {
    color: var(--text); 
    margin-bottom: 15px;
  }
  
  .info-container p {
    font-size: 1rem;
    line-height: 1.6; 
  }

  #sidebar-wrapper {
    min-height: 100vh; 
    margin-left: -15px; 
    padding: 20px;
  }


.d-flex {
    display: flex;
    background-color:var(--background);
    color: var(--text);

  }
  
  main.flex-grow-1 {
    flex-grow: 1;
    padding: 20px; 
  }

.custom_dropdown {
    background-color:var(--background);
    color: var(--text);
}

.floating_div {
  position: relative;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text_after {
  font-size: 350px;
  line-height: 200px;
  margin: 0;
  color: #f0f0f0;
  z-index: 0;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff;
}

#text_before {
  font-size: 350px;
  line-height: 200px;
  margin: 0;
  color: #010b2d;
  z-index: 0;
}

.hover_button {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #366bc1;
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 25px;
  transition : 944ms;
  display: flex;
  flex-direction: row;
}

.hover_button:hover{
  transition : 944ms;
  padding: 10px 48px;
  background-color: #fff;
  color: #366bc1;
  border: none;
}

.sidebar {
  background: var(--background);  
  color: var(--text) !important;  
}

.custom-dropdown .dropdown-menu {
  background-color:var(--background);  
  max-width: 100px !important;
}

.text-white {
  color: var(--text) !important;  
}

